<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title> {{title}} </title>
</head>

<body>
    <h1><span class="badge badge-dark">Projet B Angular</span></h1>
    <br>
    <button type="button" class="btn btn-primary" (click)="ExecuteWS()"> Afficher la liste </button>
    <br>


    <div>
        <ul class="list-group">
            <p *ngFor="let post of posts" class="list-group-item">
                Titre : <a name="{{post.body}}" (click)="afficherDescription($event)"> {{post.title}} </a>
            </p>
        </ul>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item ">Description : {{description}} </li>
        </ul>
    </div>

    <div>
        <label>Rechercher texte :</label>
        <textarea [(ngModel)]="rechercher" (ngModelChange)="rechercherFiltre($event)"> </textarea>
    </div>
</body>

</html>